<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!--<script src="bower_components/please-wait/build/please-wait.min.js"></script>-->
    <script src="bower_components/angular/angular.js"></script>
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="bower_components/bootstrap-toggle/css/bootstrap-toggle.min.css" />
    <link rel="stylesheet" href="bower_components/angular-bootstrap-calendar/dist/css/angular-bootstrap-calendar.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <!--    fonts link-->
    <link href="https://fonts.googleapis.com/css?family=Prociono" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <!-- endbuild -->

    <link rel="stylesheet" href="styles/style.css">
    <link rel="stylesheet" href="styles/style-responsive.css">
    <link rel="stylesheet" href="styles/main.css">


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link href="styles/css/style.css" rel="stylesheet">
    <link id="color-scheme" href="styles/css/colors/default.css" rel="stylesheet">
    <!--css ends for main.html-->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">

</head>

<body ng-app="novusApp">
    <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div ng-controller="WebindexCtrl">
        <div ng-cloak>



            <section id="container">
                <!-- **********************************************************************************************************************************************************
      TOP BAR CONTENT & NOTIFICATIONS
      *********************************************************************************************************************************************************** -->
                <!--header start-->
                <header class="header black-bg" ng-hide="headerHide">
                    <div class="leftnav">
                        <div class="sidebar-toggle-box" ng-hide="sideBar">
                            <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
                        </div>
                        <!--logo start-->
                        <a href="" class="logo"><b>NOVUS SOFTWARES</b></a>
                    </div>
                    <!--<div class="show_mobile">
                        <ul>
                     <li class="nav-menu first_li" ng-cloak ng-hide="false" >
                                <a class="nav-a" href="#" style="cursor:text">{{Status}}</a>

                            </li class="nav-menu" ng-cloak ng-hide="false">
                            <li class="second_li nav-menu">
                                <div ng-cloak><button ng-hide="sendLinkButton" class="logout_button" ng-click="SendActivationLink()">Send Link Again</button>{{ActivationMessage}}</div>
                            </li>
                            </ul>
                      </div>      -->
                    <!--logo end-->
                    <div class="nav notify-row" id="top_menu">
                        <!--  notification start -->
                        <ul class="nav top-menu rightnav ">
                            <!-- settings start -->
                            <li class="dropdown">
                                <a data-toggle="dropdown" class="dropdown-toggle" href="">
                            <i class="fa fa-bell-o"></i>
                            <span class="badge bg-theme">{{nlength}}</span>
                        </a>
                                <ul class="dropdown-menu extended tasks-bar">
                                    <div class="notify-arrow notify-arrow-green"></div>
                                    <li>
                                        <p class="green" style="font-size: 14px;font-weight: 900;text-align: center;">You have added {{totalCases}} cases</p>
                                    </li>
                                    <li style="transform: scaleX(-1);" ng-repeat="case in notifications">
                                        <!--<a href="index.html#" style="display: flex;flex: 2;">-->
                                            <div class="task-info" style="flex: 1;">
                                                <p>New Case added</p>
                                                 <div>Court Type: {{case.type}}</div>
                                                 <div>Case number/Diary number: {{case.number}}</div>
                                                 <div>Case Year: {{case.year}}</div>
                                            </div>

                                         <!--</a>-->
                                    </li>
                                    <!--<li>
                                        <a href="index.html#">
                                            <div class="task-info">
                                                <div class="desc">Database Update</div>
                                                <div class="percent">60%</div>
                                            </div>
                                            <div class="progress progress-striped">
                                                <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
                                                    style="width: 60%">
                                                    <span class="sr-only">60% Complete (warning)</span>
                                                </div>
                                            </div>
                                        </a>
                                    </li>-->
                                    <!--<li>
                                        <a href="index.html#">
                                            <div class="task-info">
                                                <div class="desc">Product Development</div>
                                                <div class="percent">80%</div>
                                            </div>
                                            <div class="progress progress-striped">
                                                <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                                                    <span class="sr-only">80% Complete</span>
                                                </div>
                                            </div>
                                        </a>
                                    </li>-->
                                    <!--<li>
                                        <a href="index.html#">
                                            <div class="task-info">
                                                <div class="desc">Payments Sent</div>
                                                <div class="percent">70%</div>
                                            </div>
                                            <div class="progress progress-striped">
                                                <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"
                                                    style="width: 70%">
                                                    <span class="sr-only">70% Complete (Important)</span>
                                                </div>
                                            </div>
                                        </a>
                                    </li>-->
                                    <!-- <li class="external">
                                        <a href="#" style="font-size: 14px;font-weight: 900;text-align: center;">See All Tasks</a>
                                    </li> -->
                                </ul>
                            </li>
                            <!-- settings end -->
                            <!-- inbox dropdown start-->

                            <!-- inbox dropdown end -->
                            <!--                    <ul class="nav navbar-nav">-->

                            <!--<li class="active nav-menu"><a href="#/" class="nav-a">Home</a></li>-->
                            <!--<li class="nav-menu hiden nav-menu-hide"><a class="nav-a" ng-href="/app/#about">About</a></li>-->
                            <!--<li class="nav-menu hiden nav-menu-hide"><a ng-href="/app/#" class="nav-a">Contact</a></li>-->
                            <!--<li ng-hide="SignupButton" class="nav-menu nav-menu-hide"><a class="nav-a" ng-href="/app/#signup">Signup</a></li>-->
                            <!--<li ng-hide="LoginButton" class="nav-menu"><a class="nav-a" ng-href="/app/#login">Login</a></li>-->
                            <li ng-hide="ProfileButton" class="nav-menu menu_hidden"><a class="nav-a" ng-href="/app/#profile">My account</a></li>
                            <!--<li ng-hide="ProfileButton" class="nav-menu"><a class="nav-a" ng-href="/app/#profile">My account</a></li>-->
                            <li class="nav-menu menu_hidden">
                                <div ng-hide="LogoutButton" ng-cloak><button class="logout_button" type="button" ng-click="Logout()">Logout</button>{{LogoutMessage}}</div>
                            </li>
                            <!--<li class="nav-menu hide_li" ng-cloak ng-hide="false" >
                                <a class="nav-a" href="#" style="cursor:text">{{Status}}</a>

                            </li>
                            <li class="nav-menu hide_li" ng-cloak ng-hide="false">
                                <div ng-cloak><button ng-hide="sendLinkButton" class="logout_button" ng-click="SendActivationLink()">Send Link Again</button><span>{{ActivationMessage}}</span></div>
                            </li>-->
                            <!--            </ul>-->
                            <!--<div ng-cloak ng-hide="ActivationStatus">
                                <p>{{Status}}</p>
                                <p ng-cloak><a ng-hide="sendLinkButton" ng-click="SendActivationLink()">Send Link Again</a>{{ActivationMessage}}</p>
                            </div>-->

                        </ul>
                        <!--  notification end -->
                        <!--
                <div class="collapse navbar-collapse" id="js-navbar-collapse">


          </div>
-->
                    </div>
                    <!--
            <div class="top-menu">
            	<ul class="nav pull-right top-menu">
                    <li><a class="logout" href="login.html">Logout</a></li>
            	</ul>
            </div>
-->
                </header>
                <!--header end-->

                <!-- **********************************************************************************************************************************************************
      MAIN SIDEBAR MENU
      *********************************************************************************************************************************************************** -->
                <!--sidebar start-->
                <aside ng-hide="sideBar">
                    <div id="sidebar" class="nav-collapse ">
                        <!-- sidebar menu start-->
                        <ul class="sidebar-menu" id="nav-accordion">

                            <!--<p class="centered"><a href="profile.html"><img src="http://www.novussoftwares.com/images/logo.png" class="img-circle" width="60"></a></p>
                            <h5 class="centered">Novus Softwares</h5>-->

                            <li class="sub-menu">
                                <a href="/app/#dashboard" class="active">
                          <i class="fa fa-briefcase"></i>
                          <span class="dash" ng-click="dshowCasesButton()">Dashboard</span>
                      </a>
                            </li>

                            <li class="sub-menu">
                                <a href="/app/#addcase">
                          <i class="fa fa-plus-square"></i>
                          <span>Add New Case</span>
                      </a>
                            </li>
                            <li class="sub-menu">
                                <a href="/app/#calendar">
                          <i class="fa fa-calendar"></i>
                          <span>Calender View</span>
                      </a>
                            </li>
                            <li class="sub-menu">
                                <a href="/app/#causelist">
                          <i class="fa fa-list"></i>
                          <span>Cause List</span>
                      </a>
                            </li>
                            <li class="sub-menu">
                                <a href="/app/#taskmanager">
                          <i class="fa fa-tasks"></i>
                          <span>Task Manager</span>
                      </a>
                            </li>
                            <li class="sub-menu">
                                <a href="/app/#appointments">
                          <i class="fa fa-handshake-o"></i>
                          <span>Appointments</span>
                      </a>
                            </li>
                            <li class="sub-menu">
                                <a href="/app/#expensemanager">
                          <i class="fa fa-credit-card-alt"></i>
                          <span>Expense Manager</span>
                      </a>
                            </li>
                            <li class="sub-menu">
                                <a href="/app/#revenue">
                          <i class="fa fa-money"></i>
                          <span>Revenue/Income</span>
                      </a>
                            </li>
                            <li class="sub-menu">
                                <a href="/app/#chat">
                          <i class="fa fa-comments"></i>
                          <span>Help/Live Chat</span>
                      </a>
                            </li>
                            <!--<li class="active nav-menu"><a href="#/" class="nav-a">Home</a></li>
                            <li class="sub-menu resp_disp">
                                <a class="nav-a" ng-href="/app/#about">
                  <i class="fa fa-info-circle"></i>
                  <span>About</span>
                  </a>
                            </li>-->
                            <!--<li class="sub-menu resp_disp">
                                <a ng-href="/app/#" class="nav-a">
                  <i class="fa fa-phone"></i>
                  <span>Contact</span>
                  </a>-->
                            </li>
                            <li ng-hide="SignupButton" class="sub-menu resp_disp">
                                <a class="nav-a" ng-href="/app/#signup">
                  <i class="fa fa-user-plus"></i>
                  <span>Signup</span>
                  </a></li>
                                <!--</li>
                            <li ng-hide="LoginButton" class="sub-menu resp_disp">
                                <a class="nav-a" ng-href="/app/#login">
                  <i class="fa fa-sign-in"></i>
                  <span>Login</span>
                  </a>
                            </li>-->

                                <li ng-hide="ProfileButton" class="sub-menu resp_disp">
                                    <a class="nav-a" ng-href="/app/#profile">
                  <i class="fa fa-user"></i>
                  <span>My account</span></a></li>
                   <!--<div ng-hide="LogoutButton" ng-cloak><button class="logout_button" type="button" ng-click="Logout()">Logout</button>{{LogoutMessage}}</div>-->

                  <li ng-hide="LogoutButton" ng-cloak class="sub-menu resp_disp">
                                    <a class="nav-a" ng-href="#" ng-click="Logout()">
                  <i class="fa fa-sign-out"></i>
                  <span>Logout</span></a></li>



                        </ul>
                        <!-- sidebar menu end-->
                    </div>
                </aside>
                <!--sidebar end-->

                <!-- **********************************************************************************************************************************************************
      MAIN CONTENT
      *********************************************************************************************************************************************************** -->
                <!--main content start-->
                <section id="main-content">
                    <section class="wrapper">

                        <!--				 <div class="container">-->
                        <div ng-view=""></div>
                        <!--    </div>-->



                    </section>
                    <!--/wrapper -->
                </section>
                <!-- /MAIN CONTENT -->

            </section>


        </div>




        <!--
    <div class="footer">
      <div class="container">
        <p><span class="glyphicon glyphicon-heart"></span> from the Yeoman team</p>
      </div>
    </div>
-->
    </div>

    <script>
        !function (A, n, g, u, l, a, r) {
            A.GoogleAnalyticsObject = l, A[l] = A[l] || function () {
                (A[l].q = A[l].q || []).push(arguments)
            }, A[l].l = +new Date, a = n.createElement(g),
                r = n.getElementsByTagName(g)[0], a.src = u, r.parentNode.insertBefore(a, r)
        }(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-XXXXX-X');
        ga('send', 'pageview');
    </script>


    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-md5/angular-md5.js"></script>
    <script src="bower_components/ng-country-select/dist/ng-country-select.js"></script>
    <script src="bower_components/ng-file-upload/ng-file-upload.js"></script>
    <script src="bower_components/bootstrap-toggle/js/bootstrap-toggle.min.js"></script>
    <script src="bower_components/moment/moment.js"></script>
    <script src="bower_components/angular-bootstrap-calendar/dist/js/angular-bootstrap-calendar-tpls.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!--custom js-->

    <script class="include" src="scripts/libs/jquery.dcjqaccordion.2.7.js"></script>
    <script src="scripts/libs/jquery.scrollTo.min.js"></script>
    <script src="scripts/libs/jquery.nicescroll.js"></script>
    <!--common script for all pages-->
    <script src="scripts/libs/common-scripts.js"></script>
    <!--stylingjs-->

    <!--script for this page-->
    <!--custom js-->

    <!-- build:js({.tmp,app}) scripts/scripts.js -->

    <script src="scripts/app.js"></script>
    <script src="scripts/controllers/webindex.js"></script>
    <script src="scripts/services/webindex.js"></script>
    <script src="scripts/controllers/main.js"></script>
    <script src="scripts/controllers/about.js"></script>
    <script src="scripts/services/signup.js"></script>
    <script src="scripts/controllers/signup.js"></script>
    <script src="scripts/controllers/login.js"></script>
    <script src="scripts/services/login.js"></script>
    <script src="scripts/controllers/profile.js"></script>
    <script src="scripts/services/profile.js"></script>
    <script src="scripts/controllers/emailactivate.js"></script>
    <script src="scripts/services/emailactivate.js"></script>
    <script src="scripts/controllers/forgotpassword.js"></script>
    <script src="scripts/services/forgotpassword.js"></script>
    <script src="scripts/controllers/addcase.js"></script>
    <script src="scripts/services/addcase.js"></script>
    <script src="scripts/controllers/dashboard.js"></script>
    <script src="scripts/services/dashboard.js"></script>
    <script src="scripts/controllers/taskmanager.js"></script>
    <script src="scripts/services/taskmanager.js"></script>
    <script src="scripts/controllers/calendar.js"></script>
    <!-- endbuild -->
</body>

</html>
